{
    "_comment": "ZNC Settings",
    "allowedPorts": ["6667", "+6697"],
    "allowedHosts": "chat.freenode.net:irc.freenode.net",

    "_comment": "Database Settings",
    "mongoConnect": "mongodb://localhost/IRCYoke",

    "_comment": "Web Server Settings",
    "webPort": 5000,
    "webHost": "127.0.0.1",

    "_comment": "This should be IRCYoke's public web address",
    "webPublicLocation": "localhost:5000"
}
