{
    "_comment": "ZNC Settings",
    "zncPort": 1234,
    "zncSSL": true,
    "zncHosts": "someserver.server.com",

    "_comment": "Database Settings",
    "mongoConnect": "mongodb://localhost/databasename",

    "_comment": "Web Server Settings",
    "webPort": 1337,
    "webHost": "127.0.0.1"
}
