extends ./layout.jade
block css
    link(rel='stylesheet', href='css/loading.css')
    link(rel='stylesheet', href='css/lib/animate.css')
block content
    div(id="wrapall")
        div(style='text-align:center')
            div(class="header")
                h1 IRCYoke
                p The practical IRC client.
            div(class="clearfix")
            div(class="fpWrapper clearfix")
                div(class="fpIntro")
                    h1(class='animated fadeInDown') Give us a second while we load everything for you...
                    br
                    br
                    div.tetrominos(style="padding-top:230px")
                      div.tetromino.box1
                      div.tetromino.box2
                      div.tetromino.box3
                      div.tetromino.box4
