extends ./layout.jade
block css
    link(rel='stylesheet', href='css/loading.css')
    link(rel='stylesheet', href='css/lib/animate.css')
    link(rel='stylesheet', href='css/ui.css')
block content
    div(id="wrapAll")
        div(style='text-align:center')
            div(class="header")
                h1 IRCYoke
                p The practical IRC client.
            div(class="clearfix")
            div(class="fpWrapper clearfix")
                div(class="fpIntro")
                    h1(class='animated fadeInDown') Give us a second while we load everything for you...
                    br
                    br
                    div.tetrominos(style="padding-top:230px")
                      div.tetromino.box1
                      div.tetromino.box2
                      div.tetromino.box3
                      div.tetromino.box4
                    div#status
                        b#statusText(class='animated fadeInDown')
                            | Establishing connection to IRCYoke...
    script
        | var sid = "#{sid}", serverLocation = "#{serverLocation}";
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//cdn.socket.io/socket.io-1.2.1.js")
    script(src="js/ircyoke.min.js")
