<div class="items">
	<ul>
	{{#each content}}
		{{render "sidebaritem" this}}
	{{/each}}
	</ul>
</div>
<div class="footer">
	<div class="text">
		&copy; IRCYoke 2015 &middot; <a href="//github.com/cydrobolt/IRCYoke">GitHub</a>
	</div>
</div>
